header{
    width: 100%;
    text-align: center;
}

header h1{
    font-size: 300%;
    color: tomato;
    /* medium = 16px = 1em = 100% = 12pt */
}

nav{
    width: 100%;
    background-color: tomato;
}

nav ul{
    list-style: none;
    overflow: auto;
    margin: 0px;
    padding: 5px 0px;
    display: flex;
    border-top: 5px solid rgba(135, 206, 250);
    border-bottom: 5px solid rgba(135, 206, 250);
    display: flex;
}

nav ul li{
    margin: 0px;
    padding: 10px 25px;
    display: inline;
    text-align: center;
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
}

nav ul li:hover{
    background-color: rgba(135, 206, 250, 0.7);
}

nav ul a:hover{
    color: white;
}

footer{
    width: 100%;
    display: flex;

}

#copyright{
    flex: 1;
    overflow: auto;
    text-align: center;
}

#sns{
    flex: 1;
    overflow: auto;
    text-align: center;
}

#my{
    height: 500px;
    width: 500px;
}

#profile1{
    text-align: center;
}

#profile2{
    text-align: center;
}

footer{
    height: 20%;
    background-color: #F0EDCC;

}

#info{
    height: 100%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

td, th {
    text-align : center;
    vertical-align : middle;
  }

section{
    background-color: #F0EDCC;
}

.flex{
    display: flex;
}

.one-flex{
    flex: 1;
    text-align: center;
}

.two-flex{
    flex: 2;
}

nav ul li a:hover{
    color: bisque;
}

a { 
    text-decoration: none; 
    color:white;
}

#webImg{
    height: 100%;
    width: 100%;
}

#portfolio h2{
    text-align: center;
}

*{
    font-family: "맑은 고딕",Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
